@using ReflectionIT.Mvc.Paging
@model MedicalTest2.ViewModels.ArchieveViewModel

@{
    ViewData["Title"] = "ViewArchieve";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
<link href="~/css/bootstrap4-toggle.min.css" rel="stylesheet" />
<h1>الارشيف للموظفين</h1>

<hr />
<section class="appointment section-bg">
    <div class="container">

        <div class="section-title">
            <h2>البحث ببيانات الموظف</h2>
        </div>
        <form asp-action="ViewArchieve">

            <div class="row">
                <div class="col-md-2 form-group">
                    @*<input asp-for="NationalId" class="form-control" />*@
                    <label asp-for="NationalId" class="control-label">رقم الهوية</label>
                    <input type="text" class="form-control" asp-for="NationalId" placeholder="ابحث برقم الهوية">

                </div>
                <div class="col-md-2 form-group">
                    @*<input asp-for="NationalId" class="form-control" />*@
                    <label asp-for="ComputerNumber" class="control-label">رقم الحاسب</label>
                    <input type="number" class="form-control" asp-for="ComputerNumber" placeholder="ابحث برقم الحاسب">

                </div>
                <div class="col-md-2 form-group mt-3 mt-md-0">
                    <label asp-for="ActualWorkId" class="control-label">العمل الفعلى</label>
                    <select asp-for="ActualWorkId" class="form-select" asp-items="@(new SelectList(Model.ActualWorks,"Id","Name"))"></select>
                    <span asp-validation-for="ActualWorkId" class="text-danger"> </span>
                    @if (@ViewBag.ErrorId != null)
                    {
                        <span class="text-danger"> @ViewBag.ErrorId</span>

                    }
                </div>
                <div class="col-md-2 form-group mt-3 mt-md-0">
                    <label asp-for="DepartmentId" class="control-label">القسم</label>
                    <select asp-for="DepartmentId" class="form-select" asp-items="@(new SelectList(Model.Departments,"Id","Name"))"></select>
                    <span asp-validation-for="DepartmentId" class="text-danger"> </span>
                    @if (@ViewBag.ErrorId != null)
                    {
                        <span class="text-danger"> @@ViewBag.ErrorId</span>

                    }
                </div>
                <div class="col-md-2 form-group mt-3 mt-md-0">
                    <label asp-for="JobCategoryId" class="control-label">فئة الوظيفة</label>
                    <select asp-for="JobCategoryId" class="form-select" asp-items="@(new SelectList(Model.JobCategories,"Id","Name"))"></select>
                    <span asp-validation-for="JobCategoryId" class="text-danger"> </span>
                    @if (@ViewBag.ErrorId != null)
                    {
                        <span class="text-danger"> @@ViewBag.ErrorId</span>

                    }
                </div>
                <div class="col-md-1 form-group mt-3 mt-md-0">
                    <label class="control-label"></label>
                    <div>
                        <input type="checkbox" asp-for="IsRetired" name="IsRetired" checked data-toggle="toggle" data-on="متقاعد" data-off="موظف" data-onstyle="danger" data-offstyle="success">
                    </div>
                </div>

                <div class="col-md-1 form-group mt-3 mt-md-0">
                    <label class="control-label"></label>
                    <div class="text-center ">
                        <input type="submit" value="بحث" class="btn btn-success btn-lg" />
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <label class="form-control-label text-danger mt-4" style="text-align: center;font-size: 30px;">
                @ViewBag.archieveViewModelError
            </label>
        </div>
    </div>
</section>
@if (ViewBag.archieveViewModelError == null && Model.EmployeesData != null)
{
    <table class="table table-active table-striped table-responsive  table-bordered  mt-1">
        <thead>
            <tr class="bg-primary text-white">
                <td>
                    @Html.Label("تاريخ التسجيل")
                </td>
                @*<td style="width: 10% !important;">
                *@
                <td>
                    @*@Html.SortableHeaderFor(model => model.Name, new { @class = "text-white" })*@
                    @Html.Label("الاسم بالكامل")

                </td>
                <td>
                    @*@Html.SortableHeaderFor(model => model.NationalId, new { @class = "text-white" })*@
                    @Html.Label("اسم المستخدم")

                </td>
                <td>
                    @Html.Label("الجهة")
                </td>
                <td>
                    @Html.Label("القسم")
                </td>
                <td>
                    @*@Html.SortableHeaderFor(model => model.ComputerNumber, new { @class = "text-white" })*@
                    @Html.Label("رقم الحاسب")
                </td>
                <td>
                    @Html.Label("فئة الوظيفة")
                </td>
                <td>
                    @Html.Label("العمل الفعلى")
                </td>
                <td>
                    @Html.Label("نوع التعيين")
                </td>
                <td>
                    @Html.Label("رقم الجوال")

                    @*@Html.SortableHeaderFor(model => model.PhoneNumber, new { @class = "text-white" })*@
                </td>
                <td>
                    @Html.Label("البريد الالكترونى")
                </td>
                <td>
                    @Html.Label("حالة الحساب")
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.EmployeesData)
            {

                /*

               r.Id,
                r.CreationDate,
                Name = r.FirstName + " " + r.SecondName + " " + (!string.IsNullOrWhiteSpace(r.FamilyName) ? r.FamilyName : ""),
                r.NationalId,
                DestinationName = r.Destination.Name,
                DepartmentName = r.Department.Name,
                r.ComputerNumber,
                JobCategoryName = r.JobCategory.Name,
                ActualWorkName = r.ActualWork.Name,
                WorkTypeName = r.WorkType.Name,
                r.PhoneNumber,
                Email = dbContext.Users.FirstOrDefault(x => x.EmployeeId == r.Id).Email,
                r.IsRetired,

                */
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NationalId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DestinationName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartmentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ComputerNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobCategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActualWorkName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkTypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @if (@item.IsRetired)
                        {

                            <p style=" background-color: #f2d8d8;">&nbsp;متقاعد&nbsp;&nbsp;<i class="bi bi-x-circle"></i></p>

                        }
                        else
                        {
                            <p style=" background-color: aquamarine;">&nbsp;موظف&nbsp;&nbsp;<i class="bi bi-check-circle"></i></p>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <nav style="float: left;">
        <vc:pager paging-list="@Model.EmployeesData" />
    </nav>
    @*<a asp-controller="Archieve" asp-action="Print" style="float:left;" target="_blank" class="btn btn-primary btn-lg">تقرير</a>*@

}








<!--<section class="appointment section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>البحث ببيانات الموظف</h2>
        </div>
        <form asp-action="ViewArchieve" data-aos="fade-up" data-aos-delay="100">

            <div class="row">
                <div class="col-md-2 form-group">-->
@*<label asp-for="EmployeeName" class="control-label">اسم الموظف بالكامل</label>
    <input asp-for="EmployeeName" class="form-control" />*@
<!--<input type="text" class="form-control" asp-for="NationalId" placeholder="ابحث بالرقم القومى">

                </div>
                <div class="col-md-2 form-group mt-3 mt-md-0">
                    <select asp-for="CatId" class="form-select" asp-items="@@(new SelectList(Model.Categories,"Id","Name"))"></select>
                    <span asp-validation-for="CatId" class="text-danger"> </span>
                    @@if (@@ViewBag.ErrorId != null)
                    {
                        <span class="text-danger"> @ViewBag.ErrorId</span>

                    }
                </div>
                <div class="col-md-2 form-group mt-3 mt-md-0">
                    <select asp-for="EmployeeCatId" class="form-select" asp-items="(new SelectList(Model.EmployeeCategories,"Id","Name"))"></select>
                    <span asp-validation-for="EmployeeCatId" class="text-danger"> </span>
                    @@if (@@ViewBag.ErrorId != null)
                    {
                        <span class="text-danger"> @@ViewBag.ErrorId</span>

                    }
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-4 form-group mt-3 mt-md-0">
                            <input asp-for="From" type="date" asp-format="{0:yyyy-MM-dd}" class="form-control" />
                        </div>
                        <div class="col-md-1 form-group">
                            <label style="color:blue">إلى</label>
                        </div>
                        <div class="col-md-4 form-group mt-2 mt-md-0">
                            <input type="date" asp-format="{0:yyyy-MM-dd}" class="form-control" asp-for="To">
                        </div>
                    </div>
                </div>
                <div class="col-md-1 form-group mt-3 mt-md-0">
                    <div class="text-center ">
                        <input type="submit" value="بحث" class="btn btn-success btn-lg" />
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <label class="form-control-label text-danger mt-4" style="text-align: center;font-size: 30px;">
                @@ViewBag.archieveViewModelError
            </label>
        </div>
    </div>
</section>
@@if (ViewBag.archieveViewModelError == null && Model.Employees != null)
{
    <table class="table table-active table-striped  table-bordered  mt-4">
        <thead>
            <tr class="bg-primary text-white">
                <td>
                    @@Html.Label("الرقم")
                </td>
                <td>
                    @@Html.Label("الإسم")
                </td>
                <td>
                    @@Html.Label("الوصف")
                </td>
                <td>
                    @@Html.Label("الصورة")
                </td>
            </tr>
        </thead>
        <tbody>
            @@foreach (var item in Model.Employees)
            {
                <tr>
                    <td>
                        @@Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @@Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @@Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @@if (item.ImageUrl != null)
                        {
                            <img src="~/uploads/@@item.ImageUrl" alt="Alternate Text" style="height:100px;width:50px" />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-controller="Archieve" asp-action="Print" style="float:left;" target="_blank" class="btn btn-primary btn-lg">تقرير</a>

}-->

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/bootstrap4-toggle.min.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
