@model AddUserViewModel

@{

    ViewData["Title"] = "إضافة مستخدم جديد";
}


<form asp-action="Add" method="post">
    <h4>إضافة مستخدم جديد</h4>
    <hr />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    @for (int i = 0; i < Model.RolesCmBoxes.Count; i++)
    {
        @*<div class="form-check m-1">
            <input type="hidden" asp-for="@Model.RolesCmBoxes[i].RoleName" />
            <input type="checkbox" asp-for="@Model.RolesCmBoxes[i].IsChecked" class="form-check-input" />
            <label class="form-check-label" asp-for="@Model.RolesCmBoxes[i].IsChecked">
                @Model.RolesCmBoxes[i].RoleName
            </label>
        </div>*@
        <div class="form-group">
            <div class="checkbox">
                <input type="hidden" asp-for="@Model.RolesCmBoxes[i].RoleName" />
                <input type="checkbox" asp-for="@Model.RolesCmBoxes[i].IsChecked" class="form-check-input" />
                <label class="form-check-label" asp-for="@Model.RolesCmBoxes[i].IsChecked">
                    @Model.RolesCmBoxes[i].RoleName
                </label>
            </div>
        </div>
    }
    <span asp-validation-for="RolesCmBoxes" class="text-danger"></span>
    <button type="submit" class="btn btn-primary mt-4">حفظ</button>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}