@model MedicalTest2.ViewModels.EmployeeViewModel

@{
    ViewData["Title"] = "Create";
}

<h4>تسجيل موظف جديد</h4>
<hr />

<section class="appointment section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>بيانات الموظف</h2>
        </div>
        <form asp-action="Create" enctype="multipart/form-data" data-aos="fade-up" data-aos-delay="100">

            <div class="row">
                <div class="col-md-4 form-group">
                    <label asp-for="EmployeeName" class="control-label">اسم الموظف بالكامل</label>
                    <input asp-for="EmployeeName" class="form-control" />
                    <span asp-validation-for="EmployeeName" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group mt-3 mt-md-0">
                    <label asp-for="EmployeeTitle" class="control-label"> اللقب</label>
                    <input asp-for="EmployeeTitle" class="form-control" />
                    <span asp-validation-for="EmployeeTitle" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group mt-3 mt-md-0">
                    @*<label asp-for="PatientPhone" class="control-label"></label>
                <input asp-for="PatientPhone" class="form-control" />
                <span asp-validation-for="PatientPhone" class="text-danger"></span>*@
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group mt-3">
                    @*<input type="datetime" name="date" class="form-control datepicker" id="date" placeholder="Appointment Date" required>*@
                </div>
                <div class="col-md-4 form-group mt-3">
                    <label asp-for="CategoryId" class="control-label">تصنيف</label>
                    <select asp-for="CategoryId" class="form-select" asp-items="@(new SelectList(Model.Categories,"Id","Name"))"></select>
                    <span asp-validation-for="CategoryId" class="text-danger"> </span>
                    @if (@ViewBag.ErrorId != null)
                    {
                        <span class="text-danger"> @ViewBag.ErrorId</span>

                    }
                </div>
                <div class="col-md-4 form-group mt-3">
                    <label asp-for="Url" class="control-label">تحميل صورة</label>
                    <input type="file" name="Url" asp-for="Url" class="form-control" />
                    <span asp-validation-for="Url" class="text-danger"> </span>
                </div>
            </div>
            <div class="form-group mt-3">
                <label asp-for="EmployeeDescription" class="control-label">الوصف</label>
                <textarea asp-for="EmployeeDescription" class="form-control" placeholder="الوصف (اختيارى)"></textarea>
                <span asp-validation-for="EmployeeDescription" class="text-danger"></span>
            </div>
            @*<div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your Patient request has been sent successfully. Thank you!</div>
        </div>*@
            <div class="text-center mt-3">
                <input type="submit" value="حفظ" class="btn btn-primary" />
            </div>
          
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        </form>

    </div>
</section>
@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            @if (@ViewBag.ErrorId != null)
            {
                @ViewBag.ErrorId
            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PatientName" class="control-label"></label>
                <input asp-for="PatientName" class="form-control" />
                <span asp-validation-for="PatientName" class="text-danger"></span>
            </div>
            <div class="form-group">

            </div>
            <div class="form-group">

            </div>
            <div class="form-group">

            </div>
            <div class="form-group">

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@

<div>
    <a asp-action="Index">العودة للقائمة</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
