@using ReflectionIT.Mvc.Paging
@model PagingList<MedicalTest2.ViewModels.EmployeeDataVM>
@using Syncfusion.Pdf;
@using Syncfusion.Pdf.Graphics;
@using Syncfusion.Drawing;
@using System.IO;
@{
    ViewData["Title"] = "Index";
}

<h1>بيانات الموظفين</h1>
<style>
    .some {
        color: red
    }
</style>

<hr />
<section class="appointment section-bg">
    <div class="container">

        <div class="section-title">
            <h2> ببانات الموظف</h2>
        </div>

        <div class="container">
            <br />
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <form class="card card-sm" method="post">
                        <div class="card-body row no-gutters align-items-center">
                            <!--end of col-->
                            <div class="col">
                                <input class="form-control form-control-lg form-control-borderless" name="filter" value="@Model.RouteValue["Filter"]" type="search" placeholder="ادخل نص البحث">
                            </div>
                            <!--end of col-->
                            <div class="col-auto">
                                <button class="btn btn-lg btn-success" type="submit">ابحث</button>
                            </div>
                            <!--end of col-->
                        </div>
                    </form>
                </div>
                <!--end of col-->
            </div>
        </div>
    </div>
</section>
<a asp-action="Create" class="btn btn-primary mt-4"><span class="fa fa-plus"></span> &nbsp; إضافة موظف جديد</a>
<b style="float: left;" class="mt-4">
    الاجمالى: @Model.TotalRecordCount
</b>

@if (Model.Any())
{
    @*<a asp-controller="Employee" asp-action="CreatePDFDocument" style="width:150px;height:27px" class="btn  btn-sm btn-danger" asp-route="Model">Pdf</a>*@


    <table class="table table-active table-striped table-responsive table-bordered  mt-1">
        <thead>
            <tr class="bg-primary text-white">
                <td>
                    @Html.Label("تاريخ التسجيل")
                </td>
                <td style="width: 10% !important;">
                    @Html.SortableHeaderFor(model => model.Name, new { @class = "text-white" })
                </td>
                <td>
                    @Html.SortableHeaderFor(model => model.NationalId, new { @class = "text-white" })
                </td>
                <td>
                    @Html.Label("الجهة")
                </td>
                <td>
                    @Html.Label("القسم")
                </td>
                <td>
                    @Html.SortableHeaderFor(model => model.ComputerNumber, new { @class = "text-white" })
                </td>
                <td>
                    @Html.Label("فئة الوظيفة")
                </td>
                <td>
                    @Html.Label("العمل الفعلى")
                </td>
                <td>
                    @Html.Label("نوع التعيين")
                </td>
                <td>
                    @Html.SortableHeaderFor(model => model.PhoneNumber, new { @class = "text-white" })
                </td>
                <td>
                    @Html.Label("البريد الالكترونى")
                </td>
                <td>
                    @Html.Label("حالة الحساب")
                </td>
                <td style="width: 10% !important;"></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                /*

               r.Id,
                r.CreationDate,
                Name = r.FirstName + " " + r.SecondName + " " + (!string.IsNullOrWhiteSpace(r.FamilyName) ? r.FamilyName : ""),
                r.NationalId,
                DestinationName = r.Destination.Name,
                DepartmentName = r.Department.Name,
                r.ComputerNumber,
                JobCategoryName = r.JobCategory.Name,
                ActualWorkName = r.ActualWork.Name,
                WorkTypeName = r.WorkType.Name,
                r.PhoneNumber,
                Email = dbContext.Users.FirstOrDefault(x => x.EmployeeId == r.Id).Email,
                r.IsRetired,

                */
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NationalId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DestinationName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartmentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ComputerNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobCategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActualWorkName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkTypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @if (@item.IsRetired)
                        {

                            <p style=" background-color: #f2d8d8;">&nbsp;متقاعد&nbsp;&nbsp;<i class="bi bi-x-circle"></i></p>

                        }
                        else
                        {
                            <p style=" background-color: aquamarine;">&nbsp;موظف&nbsp;&nbsp;<i class="bi bi-check-circle"></i></p>
                        }
                        @*<div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck2" checked="@item.IsRetired" disabled>
                                <label class="custom-control-label" for="@item.IsRetired"></label>
                            </div>*@
                        @*@Html.DisplayFor(r => item.IsRetired, new { @class = "text-white" })*@
                    </td>
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@
                        @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                        @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                        @if (!item.IsRetired)
                        {
                            <a asp-controller="Employee" style="margin: 5px;!important" asp-action="Edit" class="btn  btn-sm btn-outline-success" asp-route-id="@item.Id">تعديل</a>
                            <a asp-controller="Employee" style="margin: 5px;!important" asp-action="Delete" class="btn  btn-sm btn-danger" asp-route-id="@item.Id">انهاء خدمة</a>
                            <a asp-controller="EmployeeAttachment"   style="margin: 5px;!important" asp-action="Details" class="btn btn-success" asp-route-employeeId="@item.Id">المرفقات</a>

                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <nav style="float: left;">
        <vc:pager paging-list="@Model" />
    </nav>
}

