@model MedicalTest2.ViewModels.EmployeeAttachmentViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>مرفقات الموظف</h1>

<a asp-action="Create" asp-route-employeeId="@Model.EmployeeId" class="btn btn-primary"><span class="fa fa-plus"></span> &nbsp; إضافة مرفق جديد على الموظف </a>

@if (Model != null)
{
    <div class="container-fluid">

        <div class="container">
            <!-- Title -->
            <div class="d-flex justify-content-between align-items-center py-3">
                <h2 class="h5 mb-0">
                    <a href="#" class="text-muted"></a> رقم الموظف
                    @Model.Employee.Id
                </h2>
            </div>

            <!-- Main content -->
            <div class="row">
                <div class="col-lg-8">
                    <!-- Details -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="d-flex mb-2">
                                                <div class="flex-lg-grow-1 ms-3">
                                                    <h6 class="small mb-0"><a href="#" class="text-reset">اسم الموظف</a></h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>@Model.Employee.FirstName @Model.Employee.SecondName @Model.Employee.FamilyName</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex mb-2">
                                                <div class="flex-lg-grow-1 ms-3">
                                                    <h6 class="small mb-0"><a href="#" class="text-reset">البريد الالكترونى</a></h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>@Model.Employee.Email</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex mb-2">
                                                <div class="flex-lg-grow-1 ms-3">
                                                    <h6 class="small mb-0"><a href="#" class="text-reset">رقم الجوال</a></h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>@Model.Employee.PhoneNumber</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex mb-2">
                                                <div class="flex-lg-grow-1 ms-3">
                                                    <h6 class="small mb-0"><a href="#" class="text-reset">رقم الحاسب</a></h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>@Model.Employee.ComputerNumber</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex mb-2">
                                                <div class="flex-lg-grow-1 ms-3">
                                                    <h6 class="small mb-0"><a href="#" class="text-reset">اسم المستخدم</a></h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>@Model.Employee.NationalId</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <h3>المرفقات</h3>

    @if (@Model.EmployeeAttachment.Count()>0){
        <table class="table table-active table-striped  table-bordered  mt-4">
            <thead>
                <tr class="bg-primary text-white">
                    <th>
                        @Html.Label("الرقم")
                    </th>
                    <th>
                        @Html.Label("الإسم")
                    </th>
                    <th>
                        @Html.Label("من")
                    </th>
                    <th>
                        @Html.Label("الى")
                    </th>
                    <th>
                        @Html.Label("السماح بالاشعارات")
                    </th>
                    <th>
                        @Html.Label("حالة الرسالة")
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.EmployeeAttachment)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Attachment.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.From)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.To)
                        </td>
                        <td>
                            @if (@item.Attachment.AllowNotification)
                            {
                                <p style=" background-color: aquamarine;">&nbsp;نعم&nbsp;&nbsp;<i class="bi bi-check-circle"></i></p>
                            }
                            else
                            {
                                <p style=" background-color: #f2d8d8;">&nbsp;لا&nbsp;&nbsp;<i class="bi bi-x-circle"></i></p>
                            }
                        </td>
                        <td>
                            @if (@item.IsSent)
                            {
                                <p style=" background-color: aquamarine;">&nbsp;تم الارسال&nbsp;&nbsp;<i class="bi bi-check-circle"></i></p>
                            }
                            else
                            {
                                <p style=" background-color: #f2d8d8;">&nbsp;لم يتم ارسال رسالة &nbsp;&nbsp;<i class="bi bi-x-circle"></i></p>
                            }
                        </td>
                        <td>
                            @if (@item.Attachment.AllowNotification)
                            {
                                <a asp-controller="EmployeeAttachment" asp-action="Send" class="btn btn-primary" asp-route-id="@item.Id">ارسال رسالة</a>
                            }
                            <a asp-controller="EmployeeAttachment" asp-action="Edit" class="btn btn-outline-success" asp-route-id="@item.Id">تعديل</a>
                            <a asp-controller="EmployeeAttachment" asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">حذف</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="row">
            <label class="form-control-label text-danger mt-4" style="text-align: center;font-size: 30px;">
                لايوجد بيانات 
            </label>
        </div>
    }
}
<style>
    body {
        background: #eee;
    }

    .card {
        box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: 1rem;
    }

    .text-reset {
        --bs-text-opacity: 1;
        color: inherit !important;
    }

    a {
        color: #5465ff;
        text-decoration: none;
    }
</style>

